@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	font-family: 'Ubuntu', sans-serif;
}

.nv-axis.nv-x .tick line {
    display:none;
}

.nvd3 text {
	font-family: 'Ubuntu', sans-serif;
}

.nv-axislabel {
	font-style: italic !important;
}

#chart {
	height: 75vh;
}

.chart-wrapper {
	padding: 10px;
	margin-left: 50px;
	margin-right: 25px;
}

#chart-title {
	margin-bottom: 0px;
	margin-top: 15px;
}

rect {
	fill-opacity: 1;
}

.nvtooltip {
	background: rgba(255,255,255,.75);
	border: 0px solid #ccc;
	border-radius: 0px;
	font-family: 'Ubuntu', sans-serif;
}

.nvtooltip table td.legend-color-guide div {
	border: none;
}

#header {
	width: 100%;
	background-color: #efefef;
	border-bottom: 3px solid #ccc;
}

#explainer-stacked, #explainer-bubbles {
	margin-bottom: 0;
}

#overlay {
	height: 100%;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	position: absolute;
}

.hide-scrollbar {
	overflow: hidden;
	height: 100%;
}

.no-margin-bottom {
	margin-bottom: 0;
}

#help-button {
	cursor: help;
}

.help {
	font-size: .8rem;
	color: #373a3c;
	pointer-events: none;
}

.scroll-down {
	position:absolute;
	border: 1px solid #fff;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: .8rem;
	color: #373a3c;
}